<script type="text/javascript">
	class Token {
		constructor(tokenInstance) {
			this.props = tokenInstance
		}

		render() {
			return `
        		<h3>Mint $tst{TOKENSCRIPT_NAME} ...</h3>
        		<p>Actions allow you to invoke a smart contract transaction or invoke a Javascript function within the view.</p>
			`;
		}
	}

	web3.tokens.dataChanged = (oldTokens, updatedTokens, cardId) => {
		const currentTokenInstance = updatedTokens.currentInstance;
		document.getElementById(cardId).innerHTML = new Token(currentTokenInstance).render();
	};

</script>
