
<h3>Mint your Devcon 6 Souvenir NFT!</h3>

<img alt="Bird of Paradise" src="https://www.latin-wife.com/images/strelitzia-reginae-flower-orange.jpg" style="max-width: 100%; box-sizing: border-box; padding: 20px 20px 0 20px;">
<p style="margin-bottom: 20px; font-size: 12px;">The Bird of Paradise flower.</p>

<p style="text-align: left; padding: 10px 20px;">
	This ticket NFT serves as a souvenir for Devcon 6, with a symbolic focus on LATAM and the beautiful destination of Bogota Colombia.
	The bird of paradise is known as the ultimate symbol of paradise and freedom. Due to its tropical nature, this flower symbolizes freedom and joy.
</p>

<video src="https://resources.smarttokenlabs.com/devcon6/Comp_ETH.mp4" autoplay="autoplay" loop="loop" style="max-width: 100%; box-sizing: border-box; padding: 0 20px;"></video>

